.container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border: 1px solid var(--border-color-3);
    border-radius: var(--border-radius-3);
    padding: 1.5em;
    gap: 1em;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add {
    background: var(--color-1);
    color: var(--bg);
}
.add:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.add:not(:disabled):hover {
    background: var(--color-2);
}
.save {
    align-self: flex-end;
    background: var(--color-1);
    color: var(--bg);
}