:root {
    --bg: #050505;
    --color-1: #f7f7fa;
    --color-2: #d5d5df;
    --color-3: #b9b9c8;
    --color-4: #a6a6b8;
    --color-5: #868699;
    --color-6: #5e5e6d;

    --block-1: #151515;
    --block-2: #1c1c1c;

    --border-color-1: rgba(255, 255, 255, 0.05);
    --border-color-2: rgba(255, 255, 255, 0.10);
    --border-color-3: rgba(255, 255, 255, 0.15);
    --border-color-4: rgba(255, 255, 255, 0.2);

    --red: #e84141;

    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 12px;
    --border-radius-4: 16px;
    --border-radius-5: 24px;
}


html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--color-1);
    background: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition-duration: 0.2s;
    padding: 4px 12px;
    border-radius: var(--border-radius-1);
    border: 1px solid transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
